.main-container
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  height: 90vh

.comics-card
  max-width: 400px

.comics-header-image
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg')
  background-size: cover