.main-container
  display: flex
  flex-direction: column
  gap: 16px
  align-items: center
  justify-content: center
  height: 90vh

.mat-mdc-card-header 
  height: 56px

.mat-mdc-card-title
  font-size: 24px

.likes-count
  font-size: 19px

.cards-navigation
  display: flex
  align-items: center
  justify-content: center
  flex-direction: row
  gap: 16px

.comics-card
  max-width: 400px

.comics-header-image
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg')
  background-size: cover