@use '../../../colors' as colors
  
.main-container
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 100%

.main-container-likes-count
  font-size: 19px

.main-container-comics-card
  display: flex
  justify-content: center
  background: colors.$containers-color
  width: 600px
  height: 610px

.main-container-img
  width: 100%
  max-width: 100%
  height: 500px
  object-fit: contain
  cursor: zoom-in
  
.mat-icon
  color: colors.$main-color
  margin-right: 50px

  &:hover
    color: colors.$main-color-hover

.mat-mdc-icon-button
  margin-right: 5px

  &:hover
    background: colors.$containers-color

.mat-mdc-card-header 
  height: 56px

.mat-mdc-card-title
  font-size: 20px