<div class="main-container">
  <mat-card class="comics-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ image }}" alt="Photo of a Shiba Inu">
    <mat-card-actions>
      <button mat-icon-button aria-label="Back icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <div class="likes-count">
        <span>{{ likesCount }}</span>
      </div>
    </mat-card-actions>
  </mat-card>
  <div class="cards-navigation">
    <button mat-icon-button aria-label="Back icon">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-icon-button aria-label="Forward icon">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>
