<div class="main-container">
  <mat-card class="main-container-comics-card">
    <mat-card-header>
      <mat-card-title>{{ comic.title }}</mat-card-title>
    </mat-card-header>
    <img
      class="main-container-img"
      mat-card-image
      src="{{ comic.img }}"
      alt="Comic image"
      (click)="openImageDialog(comic.img)"
    />
    <mat-card-actions>
      <button mat-icon-button aria-label="favorite">
        <mat-icon>favorite</mat-icon>
      </button>
      <div class="main-container-likes-count">
        <span>{{ comic.likes }}</span>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
