<div class="main-container">
  <app-toolbar class="main-container-toolbar" />
  <form class="main-container-form" [formGroup]="registerForm">
    <h3>Register</h3>
    <mat-form-field class="main-container-form-field" appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" />
      @if (registerForm.get('email')?.hasError('required')) {
      <mat-error>Email is required</mat-error>
      } @if (registerForm.get('email')?.hasError('email')) {
      <mat-error>Invalid email</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="main-container-form-field" appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" />
      @if (registerForm.get('password')?.hasError('required')) {
      <mat-error mat-error
        >Password is required. Minimum 8 characters.</mat-error
      >
      }
    </mat-form-field>
    <mat-form-field class="main-container-form-field" appearance="outline">
      <mat-label>Repeat password</mat-label>
      <input type="password" matInput formControlName="repeatPassword" />
      @if (registerForm.get('repeatPassword')?.hasError('required')) {
      <mat-error mat-error>Repeat password</mat-error>
      }
    </mat-form-field>
    <button mat-stroked-button (click)="submit()">Sign up</button>
  </form>
</div>
