@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap')

*
  box-sizing: border-box
  margin: 0
  padding: 0
  font-family: 'Quicksand', sans-serif
  color: #FFFFFF

html
  height: 100vh
  overflow: hidden
  background: #212121 !important

body
  height: 100%

.mat-mdc-menu-content
  background: #303030
  background-color: #303030
  box-shadow: none
  border-radius: 5px

.mat-mdc-menu-panel, .mat-menu-after, .mat-menu-below
  background: #ffffff00 !important
  background-color: #ffffff00 !important

.mat-toolbar-single-row
  background: #212121 !important

.mat-mdc-icon-button
  color: white !important
  margin-right: 5px

  &:hover
    background: #303030