.main-container
  height: 100vh
  display: flex
  gap: 15vh
  flex-direction: column
  background: #212121

.cards-navigation
  display: flex
  align-items: center
  justify-content: center
  flex-direction: row
  gap: 16px
